<div class="container">
  <div class="row">
    <div class="col-md-4">
       <h1 style="text-align: center">Multi-Select</h1>
       <div style="padding: 10%">
         <app-multi-select
           [placeholder]="'Select City'"
           [data]="dropdownList"
           [settings]="dropdownSettings"
           (onSelect)="onItemSelect($event)"
           (onSelectAll)="onSelectAll($event)"
           (selectedValues)="onSelectedValues($event)"
         >
         </app-multi-select>
       </div>
    </div>
  </div>
</div>
